body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Russo One', sans-serif;
    
    font-size: 3.5rem;
    line-height: 1.5;
    letter-spacing:4px ;
}
h2{
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-weight: 900;
    font-family: 'Montserrat';
}
p{
    color: #afafaf;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}
#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: white;
}
#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}
.container-fluid{
    padding: 3% 15%;
}
.phone-img{
    width: 60%;
    transform: rotate(25deg);
}
.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;

}


/* navbar */
.navbar{
    padding: 0 0 4.5rem ;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* buttons */

.download-button{
    margin: 5% 3% 5% 0%;
}


/* features section */

#features{
    padding: 7% 15%;
    
    
}
.feature-box{
    text-align: center;
    padding: 5%;
}

.featuresticker{
    color:#ef8172;
    margin-bottom: 1rem;
    font-size: 4rem;
}
.featuresticker:hover{
    color: #ff4c68;
}




